/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for specify array option per process
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Each process gets assigned a default array value.

    Use as follows:
        nextflow run  labgem/pangbank -profile array,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {


    withName: PPANGGOLIN_ALL_SMALL {
        array = 25
    }

    withName: PPANGGOLIN_FASTA {
        array = 25
    }

    withName: PPANGGOLIN_METADATA {
        array = 25
    }

    withName: SUMMARIZE_GENOME_STATS {
        array = 25
    }

    withName: MD5SUM_ON_FILES {
        array = 25
    }

    withName: MASH_SKETCH {
        array = 25
    }


}
