/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for specify array option per process
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Each process gets assigned a default array value.

    Use as follows:
        nextflow run  labgem/pangbank -profile array,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for specify array option per process
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Each process gets assigned a default array value.

    Use as follows:
        nextflow run  labgem/pangbank -profile array,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {


    withName: PPANGGOLIN_ALL_SMALL {
        array = 25
    }

    withName: PPANGGOLIN_FASTA {
        array = 25
    }

    withName: PPANGGOLIN_METADATA {
        array = 25
    }

    withName: SUMMARIZE_GENOME_STATS {
        array = 25
    }

    withName: MD5SUM_ON_FILES {
        array = 25
    }

    withName: MASH_SKETCH {
        array = 25
    }

    withName: SORT_GENOMES {
        array = 25
    }

    withName: PUBLISH_INPUT_GENOMES  {
        array = 50
    }

    withName: FORMAT_INPUT_GENOMES   {
        array = 25
    }

    withName: MERGE_GTDB_SPLIT_SPECIES   {
        array = 25
    }

}
