/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: PARSE_GENOMES_AND_TAXONOMY {
        publishDir = [
            path: { "${params.outdir}/input_genomes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PPANGGOLIN_ALL {
        ext.singularity_pull_docker_container = true
        publishDir = [
            path: { "${params.outdir}/pangenomes/" },
            mode: params.publish_dir_mode,
            // save yaml info in its pangenome dir. Need the name of the pangenome in the file in GATHER_PANGENOME_INFO process
            saveAs: { filename -> filename.endsWith(".yaml")      ? "${meta.species}/info.yaml" :
                                    filename.equals('versions.yml') ? null : filename }
        ]
    }

    // not sure we should publish fasta seq here
    withName: PPANGGOLIN_FASTA {
        publishDir = [
            path: { "${params.outdir}/pangenomes/" },
            mode: params.publish_dir_mode,
            // save yaml info in its pangenome dir. Need the name of the pangenome in the file in GATHER_PANGENOME_INFO process
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: GATHER_PANGENOME_INFO {
        publishDir = [
            path: { "${params.outdir}/pangenomes/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MD5SUM_ON_FILES {
        publishDir = [
            path: { "${params.outdir}/pangenomes/${meta.species}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MASH_SKETCH {
        ext.args = '-l'
        publishDir = [
            path: { "${params.outdir}/mash_sketch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MASH_SKETCH_GENOMES {
        ext.args = '-k 18 -s 5000 -l'
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/mash_sketch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SORT_GENOMES {
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/mash_sketch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SEQFU_STATS {
        ext.args = '--index --abs-path'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }



}
