/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: PARSE_GENOMES_AND_TAXONOMY {
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: params.publish_dir_mode,
                pattern: "species_summary.tsv",
            ],
            [
                path: { "${params.outdir}/pangenomes/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> "${new File(filename).getParentFile().getName()}/metadata/genomes_metadata_from_pangbank_wf_input.tsv.gz" },
                pattern: "ppanggolin_input_files/*/genomes_metadata.tsv.gz",
            ],
        ]
    }

    withName: 'PPANGGOLIN_ALL*' {
        publishDir = [
            [
                path: { "${params.outdir}/pangenomes/" },
                mode: params.publish_dir_mode,
                saveAs: { filename ->
                    filename.endsWith(".yaml")
                        ? "${meta.species}/info.yaml"
                        : filename.equals('versions.yml')
                            ? null
                            : filename.equals('pangenome_summary.tsv') ? null : filename
                },
            ],
            [
                path: { "${params.outdir}/pangenomes/${meta.species}" },
                mode: params.publish_dir_mode,
                pattern: "metadata/*.tsv.gz",
            ],
        ]
    }

    withName: PPANGGOLIN_ALL_LARGE {
        cpus = { 12 * task.attempt }
        memory = { 96.GB * task.attempt }
        time = { 23.h * task.attempt }
    }
    withName: PPANGGOLIN_ALL_MEDIUM {
        cpus = { 12 * task.attempt }
        memory = { 64.GB * task.attempt }
        time = { 12.h * task.attempt }
    }

    withName: PPANGGOLIN_ALL_SMALL {
        cpus = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
        time = { 6.h * task.attempt }
    }

    // not sure we should publish fasta seq here
    withName: PPANGGOLIN_FASTA {
        publishDir = [
            [
                path: { "${params.outdir}/pangenomes/" },
                mode: params.publish_dir_mode,
                pattern: "*/all_protein_families.faa*",
            ],
            [
                path: { "${params.outdir}/pangenomes/${meta.species}" },
                mode: params.publish_dir_mode,
                pattern: "persistent_nucleotide_families/*.fasta.gz",
                saveAs: { "persistent_nucleotide_families.fasta.gz" },
            ],
        ]
    }

    withName: PPANGGOLIN_METADATA {
        publishDir = [
            path: { "${params.outdir}/pangenomes/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                filename.endsWith(".h5")
                    ? "${meta.species}/pangenome.h5"
                    : filename.equals('versions.yml') ? null : filename
            },
        ]
    }

    withName: SUMMARIZE_GENOME_STATS {
        publishDir = [
            path: { "${params.outdir}/pangenomes/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                filename.endsWith("${meta.species}.yaml")
                    ? "${meta.species}/genomes_statistics_summary.yaml"
                    : filename.equals('versions.yml')
                        ? null
                        : filename
            },
        ]
    }

    withName: GATHER_PANGENOME_INFO {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MD5SUM_ON_FILES {
        publishDir = [
            path: { "${params.outdir}/pangenomes/${meta.species}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MASH_SKETCH {
        ext.args = '-l'
        publishDir = [
            path: { "${params.outdir}/mash_sketch" },
            mode: params.publish_dir_mode,
            pattern: "families_persistent_all.msh",
        ]
    }

    withName: MASH_SKETCH_GENOMES {
        ext.args = '-k 18 -s 5000 -l'
        publishDir = [
            enabled: false
        ]
    }

    withName: SORT_GENOMES {
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "sorted_genomes.*",
        ]
    }
    withName: ANY2FASTA {
        publishDir = [
            enabled: false
        ]
    }

    withName: SEQFU_STATS_FROM_FILE {
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MASH_DIST_TO_PHYLIP {
        publishDir = [
            enabled: false
        ]
    }

    withName: QUICKTREE {
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "tree.nw",
        ]
    }

    withName: GENOME_SELECTION_FROM_TREE {
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "selected_genomes.txt*",
        ]
    }

    withName: FORMAT_INPUT_GENOMES {
        publishDir = [
            [
                path: { "${params.outdir}/genome_dereplication/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "summary_selection.tsv*",
            ],
            [
                path: { "${params.outdir}/genome_dereplication/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "original_input_genomes.tsv*",
            ],
        ]
    }

    withName: CLUSTER_STAT {
        memory = { 12.GB * (task.attempt ** 2) }
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CLUSTER_PLOT {
        publishDir = [
            path: { "${params.outdir}/genome_dereplication/" },
            mode: params.publish_dir_mode,
            pattern: "plots/*html",
        ]
    }

    withName: PUBLISH_INPUT_GENOMES {
        publishDir = [
            path: { "${params.outdir}/pangenomes/${meta.species}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: MULTIQC {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
